<%- include("../../shared/includes/head", { title: product.title }) %>
<link rel="stylesheet" href="/styles/products.css">
</head>
<body>
    <%- include("../../shared/includes/header") %>
    <main id="product-details">
        <header>
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            <div id="product-info">
                <h1><%= product.title %></h1>
                <p><%= product.summary %></p>
                <p>$<%= product.price %></p>
                <button class="btn">Add to Cart</button>
            </div>
        </header>

        <div class="description-part">
            <h2>Description</h2>
            <p id="product-description"><%= product.description %></p>
        </div>
    </main>
<%- include("../../shared/includes/footer") %>