<%- include("../../shared/includes/head", { title: "Login" }) %> 
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include("../../shared/includes/header") %>
    <main>
        <h1>Create a new account</h1>
        <% if (sessionInputData.hasError) { %> 
            <div class="error-message">
                <h3><%= sessionInputData.title %></h3>
                <p><%= sessionInputData.message %></p>
            </div>
        <% } %>  
        <form class="auth-forms" action="/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="<%= sessionInputData.email %>" required>
            </div>
            <div>
                <label for="confirm-email">Confirm email</label>
                <input type="email" id="confirm-email" name="confirm-email" value="<%= sessionInputData.confirmEmail %>" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" minlength="6" value="<%= sessionInputData.password %>" required>
            </div>
            <hr>
            <div>
                <label for="fullname">Full Name</label>
                <input type="text" id="fullname" name="fullname" value="<%= sessionInputData.fullname %>" required>
            </div>
            <div>
                <label for="street">Street</label>
                <input type="text" id="street" name="street" value="<%= sessionInputData.street %>" required>
            </div>    
            <div>
                <label for="postal">Postal Code</label>
                <input type="text" id="postal" name="postal" minlength="5" maxlength="5" value="<%= sessionInputData.postal %>" required>
            </div>
            <div>
                <label for="city">City</label>
                <input type="text" id="city" name="city" value="<%= sessionInputData.city %>" required>
            </div>        
            <div class="form-btns">
                <button class="btn">Create Account</button>
                <div id="switch-form"><a href="/login">Login instead</a></div>
            </div>            
        </form>
    </main>
<%- include("../../shared/includes/footer") %>